DATABASE_URL="postgresql://schedule:schedule@localhost:5432/schedule_orchestrator?schema=public"
AWS_REGION="us-east-1"
AWS_ENDPOINT_URL="http://localhost:4566"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
EVENT_BRIDGE_BUS_NAME="schedule-event-bus"
EVENT_BRIDGE_SOURCE="schedule.orchestrator"
BACKEND_COMMANDS_QUEUE_URL="http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/backend-schedule-commands-queue"
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4.1-mini"
SCHEDULE_ORCHESTRATOR_EVENTS_QUEUE_URL="https://localhost.localstack.cloud:4566/000000000000/schedule-event-queue"
TZ="UTC"
LANGCHAIN_API_KEY=
